<h2><%= @artpiece.name %> (<%= @artpiece.year %>)</h2>
<% @files.each do |file| %>
    <p>
    <% file["public"] = ""  %>
    <%= image_tag(file) %>
    </p>
<% end %>
<p>
  <%= @artpiece.desc %>
</p>
<p id="notice"><%= notice %></p>    
<br />
<%= link_to 'Удалить', @artpiece, :confirm => 'Тощна?', :method => :delete %> |                                   
<%= link_to 'Редактировать', edit_artpiece_path(@artpiece) %> |
<%= link_to 'Назад', :controller => "artists", :action => "show", :id => @artist %>
