<h2>Люди</h2>
<ul>
<% @artists.each do |artist| %>
    <li><%= link_to artist.name, :action => 'show', :id => artist.id %></li>
<% end %>
</ul>

<%= form_tag({:controller => 'artists', :action => :create}, :multipart => true) do %>
    Фамилия:<br /><%= text_field :artist, :name, :size => 10, :class => "text_input" %><br />
    Год рождения:<br /><%= text_field :artist, :born, :size => 4, :class => "text_input" %><br />
    Профессия:<br />
    <% @careers.each do |cat| %>
        <%= radio_button :artist, :career_id, cat.id %><%= cat.name %>
    <% end %> 
    <br />
    Описание:<br /><%= text_field :artpiece2, :desc, :size => 50, :class => "text_input" %> <br />
    Файл:<br />
    <%= file_field_tag 'picture' %>
    <br />
    <%= submit_tag 'Добавить', :class => "btn" %>
<% end %>

<h5>По профессиям</h5>
<% @careers.each do |career| %>
    <%= link_to career.name, :controller => 'careers', :action => 'show', :id => career.id %> 
<% end %>
