<% @post.tags.build %>
<% form_tag({:controller => 'posts', :action => :create}, :multipart => true) do %>
<%= javascript_include_tag :all %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    Автор<br />
    <%= text_field :post, :author, :class => "text_input" %>
  </div>
  <div class="field">
    Заголовок<br />
    <%= text_field :post, :title, :class => "text_input"  %>
  </div>
  <div class="field">
    Текст<br />
    <%= text_area :post, :body, :class => "text_input" %>
  </div>
  Файл:<br />
    <%= file_field :post_image, :photo %>
    <br />
  <%= hidden_field(:post, :ptype, :value => @ptype ) %>
  <div class="actions">
    <%= submit_tag 'Отправить', :class => "btn" %>
  </div>
<% end %>