<h2><%= link_to_unless_current post.title, post %></h2>
<div><%= post.body %></div>
<br />
<% if !defined?(@images).nil? %>
  <% @images.each do |piece| %>
    <a href="<%= piece.photo(:large) %>" target ='blank'><%= image_tag piece.photo(:thumb) %></a>
  <% end %>
<% end %> 
<br />
<div class="tagline" style="float:left"><strong>Posted at: </strong><%= post.created_at %> by <%= post.author %></div>
<div class="actions" style="float: right"><%= link_to 'Редактировать', edit_post_path(post) %> |
<%= link_to 'Удалить', post, :confirm => 'Тощна?', :method => :delete %></div>
<div style="clear:both;"></div> 