<p id="notice"><%= notice %></p>
<div class="post_entry">
<% if "2" == @ptype.to_s %>
<%= render :partial => "comix", :object => @post %>
<% else %>
<%= render :partial => "post", :object => @post %>
<% end %>
</div>

 
<div id="comments">
<h2>Комментарии</h2>
<%= render @post.comments %>
</div>
<h3></h3>
<%= render "comments/form" %>